[Unit]
Description=Elgato Stream Deck Controller

[Service]
WorkingDirectory=/home/rash/automation
ExecStart=npm start
Restart=always

[Install]
WantedBy=default.target

